<h2>Навчальний процес Кафедри військової підготовки</h2>
    <h3><a href="../../pages/show/gallery">Фотогалерея</a></h3>
    <h3><a href="../../pages/show/scheduler">Розклад занять</a></h3>
    <h3><a href="../../materials/show/14">Напрями та спеціальності підготовки</a></h3>
    <!--
<h3><a href="../../materials/show/15">Розклад навчальних зборів 2013</a></h3>
<h3><a href="../../materials/show/16">Розклад екзаменів 2013</a></h3>
-->
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>