
<div class="content-head">
  <h3>Навчальний процес Кафедри військової підготовки</h3>
</div>
<div class="content-body">
    <h3><a href="../../pages/show/gallery">Фотогалерея</a></h3>
    <h3><a href="../../pages/show/scheduler">Розклад занять</a></h3>
    <h3><a href="../../materials/show/14">Напрями та спеціальності підготовки</a></h3>
    <!--
<h3><a href="../../materials/show/15">Розклад навчальних зборів 2013</a></h3>
<h3><a href="../../materials/show/16">Розклад екзаменів 2013</a></h3>
-->
    </div>
    <!-- <p class="design">Designed by Anastasiya Lisovska</p> -->