<h2>Довідка з висновком військово-лікарської комісії</h2>
    <p align="center" style="text-align: center;"><strong>Перелік медичних документів для кандидатів, що виявили бажання навчатися за програмою підготовки &nbsp;офіцерів запасу: <br></strong></p>
    <p>Для отримання довідки про придатність для навчання за програмою підготовки офіцерів запасу та для проходження навчального збору, необхідно надати до військомату наступні документи:</p>
    <ol start="1">
        <li>Направлення&nbsp; на військово-лікарську комісію з факультету військової підготовки у&nbsp; військомат;
            <br>Можна отримати за адресою: м. Київ, вул. Московська 45/1 , з 9-00 до 17-00 в будні дні.</li>
        <li>Довідка про навчання в ВНЗ ( додаток 17 )
            <br>Можна отримати в деканаті свого ВНЗ.</li>
        <li>Амбулаторну картку ( Ф &ndash; 25 ) із поліклініки за місцем проживання та із студентської поліклініки ( тільки студенти державних начальних закладів ), або довідку, що за час після приписки не звертався до поліклініки;</li>
        <li>Загальний аналіз крові;</li>
        <li>Загальний аналіз сечі;</li>
        <li>Рентгенологічне ( флюорографічне ) дослідження органів грудної клітки;</li>
        <li>Медична довідка про проведення обов’язкового щорічного огляду психіатра, (характеристика з місця навчання, якщо немає щорічних оглядів психіатра);</li>
        <ul>
            <li>Іногороднім &ndash; довідки від психіатра та туб. диспансеру з місця проживання;</li>
            <li>Постійно проживаючим у м. Києві з районного психіатричного диспансеру (Смоленська, 8);</li>
        </ul>
        <li>Довідка з туб. диспансеру ( вул. Чеслава Белінського, 6 );</li>
        <li>Довідка від психіатра з студентської поліклініки за місцем навчання;</li>
        <li>Сертифікат про проходження профілактичного наркологічного огляду ( Котельникова, 95 )</li>
        <li><strong>Для кандидатів жіночої статі </strong>додатково надається довідка від гінеколога з результатами цитології;<strong></strong></li>
    </ol>
    <p><strong>Направлення на аналізи райвійськкоматами не видаються.</strong><strong></strong></p>
    <!--<p><strong>Режим роботи мед. комісії Солом</strong><strong>&rsquo;янського районного комісаріату</strong><strong>:</strong></p>
<ul>
<li>З <strong>9-00</strong> до <strong>12-45</strong> ( понеділок &ndash; п&rsquo;ятниця, <strong>крім вівторка та святкових днів</strong>) каб. №121</li>
</ul>
-->
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>