
<div class="content-head">
  <h3>Питання та відповіді</h3>
</div>
<div class="content-body">
    <div class="pagination">
    </div>
    <div class="faq">
    </div>
    <div class="pagination">
    </div>
    <p class="title-item"><strong>Який термін навчання на військовій кафедрі?</strong></p>
     <p class="answer">
        ІНСТРУКЦІЯ про організацію підготовки офіцерів запасу з числа студентів вищих навчальних закладів: <br>

"3.4. Військова підготовка студентів, як правило, планується та проводиться один навчальний день на тиждень (методом "військового дня") протягом двох-трьох років навчання і завершується за рік до закінчення ВНЗ."
    <a href="http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?page=1&nreg=z1509-04#sthash.OlZf1IyK.dpuf" title="">http://zakon.rada.gov.ua/cgi-bin/laws/main.cgi?page=1&nreg=z1509-04#sthash.OlZf1IyK.dpuf</a>
    </p>
    <p class="title-item">
        <strong>Де можна дізнатися чи зарахований я на військову кафедру, якщо з'явитися в день оголошення результатів конкурсу не було можливості? </strong>
    </p>
     <p class="answer">
       Зверніться у деканат свого факультета.
    </p>
    <p class="title-item"><strong> Чи може студент іншого ВНЗ, поступити на факультет Військової підготовки на 3-му курсі?</strong></p>
    <p class="answer">
        Так, студенти інших ВНЗ та студенти старших курсів можуть брати участь у конкурсі.
    </p>


    <!-- <form method="post" action="http://fvp.kpi.ua/pages/faq">
        <p>Ваше ім`я
            <br>
            <input type="text" value="" name="name">
            <br>
            <strong></strong>
        </p>
        <p>Текст питання
            <br>
            <textarea rows="10" cols="50" name="message"></textarea>
            <br>
            <strong></strong>
        </p>
        <p>Введіть цифри з картинки:</p>
        <p><img width="120" height="30" alt=" " style="border:0;" src="http://fvp.kpi.ua/img/captcha/1427790172.0388.jpg"></p>
        <p>
            <input type="text" size="10" name="captcha">
            <br>
            <strong></strong>
        </p>
        <p>
            <input type="submit" value="Задати питання!" name="send_message">
        </p>
    </form>
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p> -->
    </div>