
<div class="content-head">
  <h3>Питання та відповіді</h3>
</div>
<div class="content-body">
    <div class="pagination">
    </div>
    <div class="faq">
    </div>
    <div class="pagination">
    </div>
    <p>
        Чи буде літній добір?
    </p>
    <p>
        Чи може студент першого курсу поступити на кафедру військової відготовки?
    </p>
    <p>
        На кафедру приймаються лише студенти КПІ?
    </p>

    <!-- <form method="post" action="http://fvp.kpi.ua/pages/faq">
        <p>Ваше ім`я
            <br>
            <input type="text" value="" name="name">
            <br>
            <strong></strong>
        </p>
        <p>Текст питання
            <br>
            <textarea rows="10" cols="50" name="message"></textarea>
            <br>
            <strong></strong>
        </p>
        <p>Введіть цифри з картинки:</p>
        <p><img width="120" height="30" alt=" " style="border:0;" src="http://fvp.kpi.ua/img/captcha/1427790172.0388.jpg"></p>
        <p>
            <input type="text" size="10" name="captcha">
            <br>
            <strong></strong>
        </p>
        <p>
            <input type="submit" value="Задати питання!" name="send_message">
        </p>
    </form>
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p> -->
    </div>