<% content_for :title do %>
    Правова основа
<% end %>
<div class="content-head">
  <h3>ЗАКОН УКРАЇНИ <br> Про військовий обов'язок і військову службу</h3>
</div>
<div class="content-body">
<p class="title-item" ><strong>Стаття 11. Військова підготовка громадян України за програмою підготовки офіцерів запасу</strong>
    <br>
</p>
<p class="item">1. Військова підготовка громадян України за програмою підготовки офіцерів запасу проводиться у вищих військових навчальних закладах та у військових навчальних підрозділах вищих навчальних закладів.
    <br>
</p>
<div class="important-part">
    <p class="item">2. Військову підготовку за програмою підготовки офіцерів запасу на добровільних засадах проходять <strong>громадяни України, які мають або здобувають освітній ступінь вищої освіти не нижче бакалавра</strong>, придатні до військової служби за станом здоров'я та морально-діловими якостями.
    <br>
    <span class="item-comment">&laquo;Частина друга статті 11 із змінами, внесеними згідно із Законом № 116-VIII від 15.01.2015&raquo;</span>

    </p>

</div>
<p class="item">3. Порядок проведення військової підготовки громадян України за програмою підготовки офіцерів запасу визначається Кабінетом Міністрів України за поданням Міністерства оборони України, погодженим з центральним органом виконавчої влади в галузі освіти і науки.
    <br>
    <span class="item-comment">&laquo;Частина третя статті 11 із змінами, внесеними згідно із Законом № 116-VIII від 15.01.2015&raquo;</span>
</p>
<p class="item">4. Військова підготовка за програмою підготовки офіцерів запасу включається до навчальних планів вищого навчального закладу як окрема навчальна дисципліна. Програми військової підготовки розробляються згідно з вимогами кваліфікаційних характеристик офіцерів запасу за відповідною військово-обліковою спеціальністю. Порядок розроблення та затвердження кваліфікаційних характеристик офіцерів запасу та програм військової підготовки офіцерів запасу визначається Міністерством оборони України.
    <br>
</p>
<p class="item">5. Громадянам України, які мають освітній ступінь вищої освіти не нижче бакалавра, пройшли повний курс військової підготовки за програмою підготовки офіцерів запасу, склали встановлені іспити та атестовані до офіцерського складу, присвоюється відповідне первинне військове звання офіцера запасу. У разі потреби вони за наказом Міністра оборони України підлягають призову для проходження військової служби осіб офіцерського складу.
<br>
<span class="item-comment">&laquo;Частина п'ята статті 11 із змінами, внесеними згідно із Законами № 1073-VI від 05.03.2009, № 116-VIII від 15.01.2015&raquo;</span>
</p>
<p class="item">6. Громадяни України, які не атестовані для присвоєння військового звання офіцерського складу після закінчення вищого навчального закладу і не пройшли строкової військової служби, підлягають призову на строкову військову службу з урахуванням, за можливості, фаху, який вони здобули у вищому навчальному закладі, або за спорідненими військово-обліковими спеціальностями.</p>
<p class="title-item"> <strong>Стаття 15. Призовний вік. Призов громадян України на строкову військову службу</strong></p>
<p class="item">1. На строкову військову службу призиваються придатні для цього за станом здоров'я громадяни України чоловічої статі, яким до дня відправлення у військові частини виповнилося 18 років, та старші особи, які не досягли 27-річного віку і не мають права на звільнення або відстрочку від призову на строкову військову службу (далі - громадяни призовного віку).
<br>
<span class="item-comment">&laquo;Частина перша статті 15 із змінами, внесеними згідно із Законом № 116-VIII від 15.01.2015&raquo;</span>
</p>
</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->