<% content_for :title do %>
    Напрями та спеціальності підготовки
<% end %>
<div class="content-head">
  <h3>Напрями та спеціальності підготовки</h3>
</div>
<div class="content-body">
 <p class="title-item">Військовий інститут телекомунікацій та інформатизації здійснює військову підготовку громадян України за рахунок коштів Державного бюджету України, або за рахунок коштів, які надходять від юридичних чи фізичних осіб за програмою підготовки офіцерів запасу для Повітряних Сил, Військово-Морських Сил, Військ Протиповітряної оборони Сухопутних військ, Головного управління зв’язку та інформаційних систем, Головного управління виховної та соціально-психологічної роботи Збройних Сил України, Головного фінансово-економічного управління Збройних Сил України, Головного автомобільного управління, Центрального управління захисту інформації та криптології Генерального штабу Збройних Сил України за 14 військово-обліковими спеціальностями.</p>
   <br> <p class="title-item"><strong>Напрями підготовки студентів у вищих навчальних закладах з яких вони можуть бути залучені до військової підготовки за програмою підготовки офіцерів запасу:</strong></p>

    <!--
<table style="width: 625px;" border="0" cellspacing="0" cellpadding="0">
<tbody>
<tr>
<td valign="top" width="625">
-->
    <ul>
        <li>Застосування змішаних з’єднань, військових частин і підрозділів (крім підрозділів і військових частин зв’язку та радіотехнічного забезпечення авіації)</li>
        <li>Застосування військових частин і підрозділів із засобами радіозв’язку.</li>
        <li>Застосування військових частин і підрозділів із засобами багатоканального радіорелейного та тропосферного зв’язку.</li>
        <li>Застосування військових частин і підрозділів із засобами багатоканального радіорелейного зв’язку.</li>
        <li>Застосування військових частин і підрозділів із засобами малоканального радіорелейного та тропосферного зв’язку</li>
        <li>Застосування військових частин і підрозділів із електропровідними засобами зв’язку.</li>
        <li>Спеціальний зв’язок. Контроль за режимом секретності</li>
        <li>Організація режиму секретності та секретного діловодства.</li>
        <li>Фінансове забезпечення і економіка бойової та господарчої діяльності військ (сил).</li>
        <li>Соціальна психологія</li>
        <li>Експлуатація та ремонт наземної апаратури радіозв’язку різної потужності.</li>
        <li>Математичне та програмне забезпечення функціонування автоматизованих систем.</li>
        <li>Технічне забезпечення функціонування автоматизованих систем управління.</li>
        <li>Експлуатація та ремонт автомобільної техніки і гусеничних тягачів.</li>
    </ul>
</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->