<% content_for :title do %>
  Напрями та спеціальності підготовки
<% end %>
<div class="content-head">
  <h3>Напрями та спеціальності підготовки</h3>
</div>
<div class="content-body">
  <p class="title-item">
    Кафедра військової підготовки НТУУ "КПІ" здійснює військову
    підготовку громадян України за рахунок коштів Державного бюджету України,
    або за рахунок коштів, які надходять від юридичних чи фізичних осіб за
    програмою підготовки офіцерів запасу для Повітряних Сил,
    Військ Протиповітряної оборони Сухопутних військ,
    Головного автомобільного управління,
    за 13 військово-обліковими спеціальностями.</p>
  <br>
  <p class="title-item"><strong>Напрями підготовки студентів у вищих навчальних закладах з яких вони можуть бути залучені до військової підготовки за програмою підготовки офіцерів запасу:</strong></p>

    <ul>
        <li>
            Бойове застосування з’єднань військових частин і підрозділів ППО СВ
            ЗСУ,озброєних зенітними ракетними комплексами малої дальності
        </li>
        <li>
            Бойове застосування підрозділів озброєних переносними ЗРК
        </li>
        <li>
            Застосування автоматизованих засобів управління зенітними ракетними
            комплексами та зенітною артилерією військ ППО СВ ЗСУ
        </li>
        <li>
            Застосування радіотехнічних підрозділів і військових чатин військ
            ППО СВ ЗСУ
        </li>
        <li>
            Експлуатація та ремонт бортових приладів управління і
            контрольно-випробного устаткування ЗРК СВ ЗСУ
        </li>
        <li>
            Технічне забезпечення експлуатація та ремонт радіолокаційних станцій
            гарматного наведення і радіоприладних комплексів зенітної артилерії
        </li>
        <li>
            Математичне та програмне забезпечення функціонування автоматизованих
            систем
        </li>
        <li>
            Експлуатація та ремонт автомобільної техніки і гусеничних тягачів
        </li>
        <li>
            Бойове застосування з’єднань, військових частин і підрозділів
            зенітної артилерії
        </li>
        <li>
            Бойове застосування з’єднань військових частин і підрозділів ППО
            озброєних багатоканальними зенітними ракетними системами середньої
            дальності
        </li>
        <li>
            Застосування радіотехнічних з’єднань військових частин і підрозділів
            ППО
        </li>
        <li>
            Експлуатація та ремонт радіотехнічних засобів наведення
            багатоканальних зенітних ракетних систем середньої дальності
        </li>
        <li>
            Технічне забезпечення радіотехнічних засобів ППО
        </li>
    </ul>
</div>