<li style="list-style: none; margin:5px;"><a target="_blank" href="https://www.dropbox.com/s/mep92hgriglsb92/%D0%9E%D0%93%D0%9E%D0%9B%D0%9E%D0%A8%D0%95%D0%9D%D0%9D%D0%AF%20%D0%BD%D0%BE%D0%B2%D0%B5%202015%281%29.doc?dl=0" class="file-type docx"><strong>Оголошення про конкурсний відбір 2015.doc</strong>
</a></li>
    <p class="anons_title"><a href="http://fvp.kpi.ua/materials/show/8">Оплата за навчання </a></p>
    <p>
        <!-- BAD -->
        <a href="http://fvp.kpi.ua/materials/8" class="img_preview"><img alt="Оплата за навчання " src="http://fvp.kpi.ua/img/items/thumbs/1_Hryvnia_1995_front.jpg" class="small_img"></a>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter21635110 = new Ya.Metrika({
                        id: 21635110,
                        webvisor: true,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true
                    });
                } catch (e) {}
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/21635110" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript>
        <!-- /Yandex.Metrika counter -->
    </p>