<% content_for :title do %>
    Контакти
<% end %>
<div class="content-head">
  <h3>Наші контакти</h3>
</div>
<div class="content-body">
    <p><em>Телефон:</em></p>
    <p><em>Адреса: вул. Нижньоключова, 4</em></p>
    <br>
    <br>
    <!-- Карта -->
    <div class="contacts-map">
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KLQOfpR6TYENZIFKXgOxNvjFdrWtA0Yl&width=800&height=600"></script>
    </script>
    </div>

    </div>
    <!-- <p class="design">Designed by Anastasiya Lisovska</p> -->