
<% content_for :title do %>
    Кафедра військової підготовки КПІ
<% end %>
<div class="content-head main">
  <h3>Кафедра військової підготовки <br>
Національного технічного університету України <br>
&laquo;Київський політехнічний інститут&raquo;</h3>
</div>
<div class="main_page_style">
<div>
    <p><b>Постановою Кабінету Міністрів України від 30 січня 2015 року №94
    "Про реорганізацію та утворення військових навчальних підрозділів вищих
    навчальних закладів" утворено
    Кафедру військової підготовки Національного технічного університету
    України "Київський політехнічний інститут". </b></p>
  Кафедра військової підготовки
Національного технічного університету України
&laquo;Київський політехнічний інститут&raquo;
здійснює військову підготовку громадян України
вищих навчальних закладів за програмою
підготовки офіцерів запасу для
Збройних Сил України (ЗСУ), а саме: для
<br>
<p class="item">
    Військ протиповітряної оборони
    Сухопутних військ Збройних сил України
    <br>
    <br>
    Зенітноракетних та радіотехнічних військ Повітряних сил Збройних Сил України
</p>
    Всього за 13 військово-обліковими спеціальностями.
    Рівень освіти випускників кафедри є найсучаснішим
    і дозволяє використовувати їх як в Збройних Силах,
    так і в інших силових структурах держави.
    Кафедра військової підготовки має
          4 предметно-методичні комісії (ПМК):
          <p class="item">ПМК №1 &laquo;Загальновійськових дисциплін&raquo;;
          <br><br>


ПМК №2 &laquo;Тактики&raquo;;
<br><br>

ПМК №3 &laquo;Бойового застосування озброєння військ ППО СВ&raquo;; <br><br>


ПМК №4 &laquo;Бойового застосування озброєння Повітяних сил&raquo;

</p>
</div>


</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->