<!-- <h2>Вас вітає Кафедра військової підготовки
<br>
Національного технічного університету України
<br> -->
<!-- "Київський політехнічний інститут"!</h2> -->
    <!--
<table class="photo">
<tbody>
<tr>
<td class="photo"><a rel="lightbox-group" href="/img/materials/faculty.jpg" title="ННП ВІТІ ДУТ"><img class="scaled" src="../../img/materials/faculty.jpg" alt="ННП ВІТІ ДУТ" /></a></td>
</tr>
<tr>
<td class="photo">ННП ВІТІ ДУТ</td>
</tr>
</tbody>
</table>
-->
   <!--  <p>Кафедра військової підготовки Національного технічного університету України
    "Київський політехнічний інститут" здійснює військову підготовку громадян України
    вищих навчальних закладів за програмою підготовки офіцерів запасу для Збройних Сил
    України (ЗСУ), а саме: для&nbsp;</p>
    <ul>
        <li>
            Повітряних сил Збройних сил України
        </li>
        <li>
            Військ протиповітряної оборони Сухопутних військ Збройних сил України
        </li>
    </ul>
    <p>&nbsp;Всього за 13 військово-обліковими спеціальностями.</p>
    <p>Рівень освіти випускників кафедри є найсучаснішим і дозволяє використовувати
    їх як в Збройних Силах, так і в інших силових структурах держави.</p>
    <p>Кафедра військової підготовки має 4 предметно-методичні комісії (ПМК):</p>
    <table class="photo_2">
        <tbody>
            <tr>
                <td class="photo_2">
                    <a title="Урочисте прийняття присяги" href="/img/materials/fvp10.jpg" rel="lightbox-group" class="lightbox-enabled">
                    <img alt="Факультет військової підготовки НТУУ КПІ" src="../../img/materials/fvp10.jpg" class="scaled"></a>
                </td>
            </tr>
            <tr>
                <td class="photo_2">Урочисте прийняття присяги</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li>ПМК №1 „Загальновійськових дисциплін";</li>
        <li>ПМК №2 „Тактики";</li>
        <li>ПМК №3 „Бойового застосування озброєння військ ППО СВ";</li>
        <li>ПМК №4 „Бойового застосування озброєння Повітяних сил”;</li> -->
        <!--<li>Кафедра № 48 &bdquo;Бойового застосування зенітного ракетно-артилерійського озброєння та автоматизованих систем управління військами Протиповітряної Оборони Сухопутних військ&rdquo;</li>
-->
   <!--  </ul>
    <p>МИ ПРАЦЮЄМО ДЛЯ ВАС!</p>
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>
 -->

<div class="content-head main">
  <h3>Кафедра військової підготовки <br>
Національного технічного університету України <br>
&laquo;Київський політехнічний інститут&raquo;</h3>
</div>
<div class="q1">
<div class="q11">
  Кафедра військової підготовки
Національного технічного університету України
&laquo;Київський політехнічний інститут&raquo;
здійснює військову підготовку громадян України
вищих навчальних закладів за програмою
підготовки офіцерів запасу для
Збройних Сил України (ЗСУ), а саме: для <br>
<p class="item">Повітряних сил Збройних сил України <br>
<br>Військ протиповітряної оборони
Сухопутних військ Збройних сил України</p>
 Всього за 13 військово-обліковими спеціальностями.
  Рівень освіти випускників кафедри є найсучаснішим
і дозволяє використовувати їх як в Збройних Силах,
 так і в інших силових структурах держави.
    Кафедра військової підготовки має
          4 предметно-методичні комісії (ПМК):
          <p class="item">ПМК №1 &laquo;Загальновійськових дисциплін&raquo;;
          <br><br>


ПМК №2 &laquo;Тактики&raquo;;
<br><br>

ПМК №3 &laquo;Бойового застосування озброєння військ ППО СВ&raquo;; <br><br>


ПМК №4 &laquo;Бойового застосування озброєння Повітяних сил&raquo;

</p>
</div>


</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->