
<% content_for :title do %>
    Кафедра військової підготовки КПІ
<% end %>
<div class="content-head main">
  <h3>Кафедра військової підготовки <br>
Національного технічного університету України <br>
&laquo;Київський політехнічний інститут&raquo;</h3>
</div>
<div class="q1">
<div class="q11">
  Кафедра військової підготовки
Національного технічного університету України
&laquo;Київський політехнічний інститут&raquo;
здійснює військову підготовку громадян України
вищих навчальних закладів за програмою
підготовки офіцерів запасу для
Збройних Сил України (ЗСУ), а саме: для <br>
<p class="item">Повітряних сил Збройних сил України <br>
<br>Військ протиповітряної оборони
Сухопутних військ Збройних сил України</p>
 Всього за 13 військово-обліковими спеціальностями.
  Рівень освіти випускників кафедри є найсучаснішим
і дозволяє використовувати їх як в Збройних Силах,
 так і в інших силових структурах держави.
    Кафедра військової підготовки має
          4 предметно-методичні комісії (ПМК):
          <p class="item">ПМК №1 &laquo;Загальновійськових дисциплін&raquo;;
          <br><br>


ПМК №2 &laquo;Тактики&raquo;;
<br><br>

ПМК №3 &laquo;Бойового застосування озброєння військ ППО СВ&raquo;; <br><br>


ПМК №4 &laquo;Бойового застосування озброєння Повітяних сил&raquo;

</p>
</div>


</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->