<% content_for :title do %>
    Керівний склад
<% end %>
<div class="content-head">
  <h3>Керівний склад Кафедри військової підготовки</h3>
</div>
<div class="content-body">
    <!-- <div class="management_team_photo_box">
    <div class="management_team_photo_container ">
        <p class="center"><strong>Завідувач кафедри: <br></strong>полковник запасу Лоза Олександр Михайлович</p>
     <%= image_tag("Loza.jpg",  :alt => "Лоза Олександр Михайлович", class: 'management_team_photo') %>
    </div>
    <div class="management_team_photo_container right">
        <p class="center"><strong>Заступник завідувача кафедри:<br></strong> полковник запасу Царенок Олексій Олексійович</p>
    <%= image_tag("Carenok.jpg",  :alt => "Царенок Олексій Олексійович", class: 'management_team_photo') %>
    </div>
    <p><strong>Завідувач кафедри: <br></strong>полковник запасу Лоза Олександр Михайлович</p>
    <p><strong>Заступник завідувача кафедри:<br></strong> полковник запасу Царенок Олексій Олексійович</p>
    </div> -->
    <!-- <br> -->
    <!-- <br> -->
    <p>
    <em>&laquo;Великий досвід та славні традиції, що були накопичені в стінах кафедри військової
    підготовки, дозволили вірно визначити та якісно вирішити завдання підготовки
    висококваліфікованих спеціалістів для Збройних Сил України.&raquo;</em>
    </p>
    <br>
    <p >
    <em>&laquo;За короткий термін зусиллями сьогоднішнього колективу вдалося створити,
            а в подальшому і вдосконалити, систему підготовки військових спеціалістів,
            яка відповідає сучасним вимогам побудови ЗС України.&raquo;</em>

    </p>
    <br>
    <p >
    <em>&laquo;Я переконаний, що нашим вихованцям притаманне глибоко свідоме
        почуття великої відповідальності за захист незалежної і суверенної України.&raquo;</em>


    </p>
    <br>
    <p > <em>&laquo;Я впевнений, що традиції, закладені ветеранами старших поколінь, будуть продовжені та примножені сьогоднішнім колективом факультету.&raquo;</em></p>
    <br>
    <p > <em>&laquo;Рівень освіти випускників факультету є найсучаснішим і дозволяє використовувати їх як в Збройних Силах, так і в інших силових структурах держави.&raquo;</em> </p>
    </div>