
<div class="content-head">
  <h3>Керівний склад Кафедри військової підготовки</h3>
</div>
<div class="content-body">
   <!--  <img факультету ""="" начальник="" підполковник,="" &ndash;="" Віталійович="" Дмитро="" Ткаченко="" alt="" src="../../img/materials/tkachenko.jpg" style="width:300px; float:left; margin:5px; padding:5px">
    <table class="">
        <tbody>
            <tr> -->
                <!--
<a rel="lightbox-group" href="/img/materials/tkachenko.jpg" title="Ткаченко Дмитро Віталійович &ndash; полковник, начальник факультету">
-->
          <!--   </tr> -->
            <!--
<tr>
<td class="photo" style="float:top">Ткаченко Дмитро Віталійович &ndash; підполковник, начальник факультету</td>
</tr>
-->
       <!--  </tbody> -->
    <!-- </table> -->
    <div class="management_team_photo_box">
    <div class="management_team_photo_container ">
        <p class="center"><strong>Завідувач кафедри: <br></strong>полковник запасу Лоза Олександр Михайлович</p>
     <%= image_tag("Loza.jpg",  :alt => "Лоза Олександр Михайлович", class: 'management_team_photo') %>
    </div>
    <div class="management_team_photo_container right">
         <p class="center"><strong>Заступник завідувача кафедри:<br></strong> полковник запасу Царенок Олексій Олексійович</p>
    <%= image_tag("Carenok.jpg",  :alt => "Царенок Олексій Олексійович", class: 'management_team_photo') %>
    </div>
    </div>
  <br><br>
    <p>
    <em>&laquo;Великий досвід та славні традиції, що були накопичені в стінах кафедри військової
    підготовки, дозволили вірно визначити та якісно вирішити завдання підготовки
    висококваліфікованих спеціалістів для Збройних Сил України.&raquo;</em>
    </p>
    <br>
    <p >
    <em>&laquo;За короткий термін зусиллями сьогоднішнього колективу вдалося створити,
            а в подальшому і вдосконалити, систему підготовки військових спеціалістів,
            яка відповідає сучасним вимогам побудови ЗС України.&raquo;</em>

    </p>
    <br>
    <p >
    <em>&laquo;Я переконаний, що нашим вихованцям притаманне глибоко свідоме
        почуття великої відповідальності за захист незалежної і суверенної України.&raquo;</em>


    </p>
    <br>
    <!--
<table class="photo_2">
<tbody>
<tr>
<td class="photo_2">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a rel="lightbox-group" href="/img/materials/tkachenko.jpg" title="Ткаченко Дмитро Віталійович &ndash; підполковник, заступник начальника факультету з начальної та наукової роботи &ndash; начальник навчальної  частини"><img class="scaled" src="../../img/materials/tkachenko.jpg" alt="Ткаченко Дмитро Віталійович &ndash; підполковник, заступник начальника факультету з начальної та наукової роботи &ndash; начальник навчальної  частини" /></a></td>
</tr>
<tr>
<td class="photo_2">Ткаченко Дмитро Віталійович &ndash; підполковник, заступник начальника факультету з навчальної та наукової роботи &ndash; начальник навчальної частини</td>
</tr>
</tbody>
</table>
-->
    <p > <em>&laquo;Я впевнений, що традиції, закладені ветеранами старших поколінь, будуть продовжені та примножені сьогоднішнім колективом факультету.&raquo;</em></p>
    <br>
    <p > <em>&laquo;Рівень освіти випускників факультету є найсучаснішим і дозволяє використовувати їх як в Збройних Силах, так і в інших силових структурах держави.&raquo;</em> </p>
    <!--
<table class="photo">
<tbody>
<tr>
<td class="photo">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<a rel="lightbox-group" href="/img/materials/parhomenko.jpg" title="Пархоменко Роман Володимирович &ndash; підполковник, заступник начальника факультету з виховної роботи"><img class="scaled" src="../../img/materials/parhomenko.jpg" alt="Пархоменко Роман Володимирович &ndash; підполковник, заступник начальника факультету з виховної роботи" /></a></td>
</tr>
<tr>
<td class="photo">Пархоменко Роман Володимирович &ndash; підполковник, заступник начальника факультету з виховної роботи</td>
</tr>
</tbody>
</table>
-->
    </div>
    <!-- <p class="design">Designed by Anastasiya Lisovska</p> -->