<% content_for :title do %>
    Новини
<% end %>
<div class="content-head">
  <h3>Новини</h3>
</div>
<div class="content-body">

  <h1 class="red center">Оголошення</h1>
  <h3 class="center">
    Національний технічний університет України
    «Київський політехнічний інститут»
    <br>
    <span class="red center">продовжує конкурсний відбір</span>
  </h3>
  <%= link_to 'Деталі вступу', for_listener_conditions_of_entry_path %>
</div>