<h2>Новини Кафедри військової підготовки</h2>
    <ul>
        <li style="list-style: none;">
            <a target="_blank" href="http://fvp.kpi.ua/materials/show/13"><strong>Внесені зміни до закону України про війсковий обо'язок і військову службу</strong></a>
        </li>
    </ul>
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>
    <p></p>
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>