<div class="content-head">
  <h3>Предметно методична комісія
<br>
&laquo;Бойового застосування озброєння військ ППО СВ&raquo;</h3>
</div>
<div class="content-body">
<div class="full-photo-container ">
        <%= image_tag("14.png",  :alt => "Нечаєв Сергій Іванович", class: "head-photo") %>
         <p class="full-photo-title-2">Нечаєв Сергій Іванович<br>
                                        Підполковник запасу, завідувач кафедри</p>
</div>
<!-- <table class="photo">
    <tbody>
        <tr>
            <td class="photo">
                <a title="Факультет військової підготовки НТУУ КПІ" href="/img/materials/48-1.jpg" rel="lightbox-group" class="lightbox-enabled"><img alt="Факультет військової підготовки НТУУ КПІ" src="http://www.dut.edu.ua/uploads/p_469_41223750.png" class="scaled"></a>
            </td>
        </tr>
        <tr>
            <td class="photo">
                Нечаєв Сергій Іванович
                <br>
                Підполковник запасу, завідувач кафедри
            </td>
        </tr>
    </tbody>
</table> -->
<p class="after-full-photo">
    На сьогоднішній день кафедра здійсню підготовку студентів вищих навчальних
    закладів за програмами підготовки офіцерів запасу за 9 військово-обліковими
    спеціальностями:
</p>
<p>
    <ul>
        <li>
            Бойове застосування з’єднань військових частин і підрозділів ППО СВ
            ЗСУ, озброєних зенітними ракетними комплексами малої дальності
        </li>
        <li>
            Бойове застосування підрозділів озброєних переносними ОЗРК
        </li>
        <li>
            Застосування автоматизованих засобів управління зенітними ракетними
            комплексами та зенітною артилерією військ ППО СВ ЗСУ
        </li>
        <li>
            Застосування радіотехнічних підрозділів і військових чатин військ
            ППО СВ ЗСУ
        </li>
        <li>
            Експлуатація та ремонт бортових приладів управління і
            контрольно-випробного устаткування ЗРК СВ ЗСУ
        </li>
        <li>
            Технічне забезпечення експлуатація та ремонт радіолокаційних станцій
            гарматного наведення і радіоприладних комплексів зенітної артилерії
        </li>
        <li>
            Математичне та програмне забезпечення функціонування автоматизованих
            систем
        </li>
        <li>
            Експлуатація та ремонт автомобільної техніки і гусеничних тягачів
        </li>
        <li>
            Фінансове забезпечення і економіка бойової та господарчої діяльності
            військ (сил)
        </li>
    </ul>
</p>
<div class="full-photo-container ">
        <%= image_tag("13.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
</div>
<p lass="after-full-photo">
    Кафедра була сформована 1 вересня 1993 року і почала підготовку офіцерів
    запасу для зенітних артилерійських підрозділів Військ ППО Сухопутних
    військ Збройних Сил України. Велику організаторську роботу, щодо розробки
    нормативних документів, стандартів освіти, навчально-методичних матеріалів
    та формування колективу кафедри на етапі становлення провів перший начальник
    кафедри полковник Матлавс Андріс Феліксович. З 1997 року кафедру очолює
    полковник Деджироламо Ю.О. У цей час уточнювався зміст навчання,
    розгорталась і удосконалювалася навчально-матеріальна база, допрацьовувалися
    навчально-методичні матеріали, здійснювалася підготовка фахівців для
    зенітних артилерійських підрозділів Військ ППО Сухопутних військ.
</p>
<p>
    З 2006 року кафедру очолює завідувач кафедри полковник запасу
    Деджироламо Ю.О.
</p>
<div class="full-photo-container ">
        <%= image_tag("16.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
</div>
<!-- <table class="photo_2">
    <tbody>
        <tr>
            <td class="photo_2">
                <a title="Факультет військової підготовки НТУУ КПІ"
                href="/img/materials/48-3.jpg" rel="lightbox-group"
                class="lightbox-enabled">
                    <img alt="Факультет військової
                    підготовки НТУУ КПІ"
                    src="http://www.dut.edu.ua/uploads/p_469_34893540.jpg"
                    class="scaled">
                </a>
            </td>
        </tr>
    </tbody>
</table> -->
<p lass="after-full-photo">
    Кафедра продовжує підготовку офіцерів запасу для зенітно-артелерійських
    частини і підрозділів військ ППО СВ, а з 2007 року, в результаті
    організаційно-штатних заходів, почала готувати фахівців і для
    зенітно-ракетних та радіотехнічних частини і підрозділів військ ППО СВ.
</p>
<div class="full-photo-container ">
        <%= image_tag("15.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
</div>
</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->