<% content_for :title do %>
    Бойове застосування озброєння Повітряних сил
<% end %>
<div class="content-head">
  <h3>Предметно-методична комісія
<br>
&laquo;Бойового застосування озброєння Повітряних сил&raquo;</h3>
</div>
<div class="content-body">
<div class="full-photo-container ">
        <%= image_tag("20.jpg",  :alt => "Ткаленко Олександр Євгенович", class: "head-photo") %>
         <p class="full-photo-title-3">Ткаленко Олександр Євгенович <br>
                                        Полковник у відставці, завідувач кафедри,<br>
                                        кандидат військових наук, доцент</p>
    </div>
<p class="after-full-photo">
    На сьогоднішній день кафедра здійснює підготовку студентів вищих навчальних
    закладів за програмою підготовки офіцерів запасу за 4 військово-обліковими
    спеціальностями:
</p>
<p>
    <ul>
        <li>
            Бойове застосування з’єднань військових частин і підрозділів ППО
            озброєних багатоканальними зенітними ракетними системами середньої
            дальності
        </li>
        <li>
            Застосування радіотехнічних з’єднань військових частин і підрозділів
            ППО
        </li>
        <li>
            Експлуатація та ремонт радіотехнічних засобів наведення
            багатоканальних зенітних ракетних систем середньої дальності
        </li>
        <li>
            Технічне забезпечення радіотехнічних засобів ППО
        </li>
    </ul>
</p>
<div class="full-photo-container">
        <%= image_tag("17.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
    </div>
<p class="after-full-photo">
    Кафедра була сформована 1 вересня 1993 року і почала підготовку офіцерів
    запасу для радіотехнічних підрозділів Військ ППО Сухопутних військ Збройних
    Сил України. Велику організаторську роботу щодо розробки нормативних
    документів, стандартів освіти, навчально-методичних матеріалів та формування
    колективу кафедри на цьому етапі провів перший начальник кафедри полковник
    Олійник Микола Іванович.
</p>
<p>
    У подальшому особовим складом кафедри, послідовно керували полковник
    Приходько О.В., полковник Гордєєв С.Ф., полковник Кузавков В.В. В цей час
    уточнювався зміст навчання, розгорталась і вдосконалювалася
    навчально-матеріальна база, доопрацьовувалися навчально-методичні матеріали,
    здійснювалася підготовка фахівців для радіотехнічних підрозділів Військ ППО
    СВ, Повітряних сил Збройних Сил України, спеціалістів-гідроакустиків для
    ВМС України.
</p>
<div class="full-photo-container">
        <%= image_tag("18.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
    </div>
<p class="after-full-photo">
    Кафедра укомплектована високодосвідченими науково-педагогічними і
    інженерно-технічними працівниками, які присвятили своє життя справі захисту
    Вітчизни, умілими керівниками і вихователями особового складу. Серед
    науково-педагогічних працівників 70% кандидатів наук, один професор, п’ять
    доцентів. Значний вклад в справу підготовки студентів вносять професор
    Безкровний А.М., старший викладач, доцент Терентьєв В.Д., викладачі Кірилов
    В.І. і Калюжний О.І.
</p>
</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->