<h2>Кафедра тактики</h2>
<table class="photo">
    <tbody>
        <tr>
            <td class="photo">
                <a title="Факультет військової підготовки НТУУ КПІ" href="/img/materials/48-1.jpg" rel="lightbox-group" class="lightbox-enabled"><img alt="Факультет військової підготовки НТУУ КПІ" src="http://fvp.kpi.ua/img/materials/48-1.jpg" class="scaled"></a>
            </td>
        </tr>
        <tr>
            <td class="photo">
                Склад кафедри
            </td>
        </tr>
    </tbody>
</table>
<p>Після проведення організаційних заходів, у складі факультету військової підготовки, 1 вересня 1993 року була створена кафедра тактики.
</p>
<p>Основним завданням кафедри була і є підготовка офіцерів запасу з тактичної підготовки.
</p>
<p>Тактична підготовка є одним з основних предметів підготовки офіцерів запасу, яка готує їх до успішної організації і ведення бойових дій у сучасних воєнних конфліктах і допомагає формувати у студентів практичні навички в організації бойових дій та управління підрозділами у ході бою в складних умовах наземної та повітряної обстановки.
</p>
<p>Велику організаційну роботу щодо ставлення тактичної підготовки провів перший начальник кафедри полковник Андреєв Петро Іванович, який був призначений з посади начальника розвідки управління протиповітряної оборони Київського військового округу.
</p>
<!--
<table class="photo_2">
<tr>
    <td class="photo_2"><a rel="lightbox-group" href="/img/materials/48-2.jpg" title="Факультет військової підготовки НТУУ КПІ"><img class="scaled" src="http://fvp.kpi.ua/img/materials/48-2.jpg"
alt="Навчальний процес Факультет військової підготовки"  /></a></td>
</tr>
<tr>
<td class="photo_2"></td>
</tr>
</table>
-->
<p>В 1997-2004 роках кафедру очолював полковник Ткаченко Юрий Миколайович (призначений з посади начальника військ протиповітряної оборони дивізії). У цей час уточнювався зміст навчання, направлений на системний підхід до вивчення матеріалу тактичної підготовки, створення в ході проведення всіх занять проблемних ситуацій, що спонукають навчаємих до проявлення самостійності та активності в пошуках оптимальних рішень, проведена робота щодо розгортання та удосконалення навчально - матеріальної бази кафедри.
</p>
<p>Кафедру очолює полковник запасу - Ткаченко Юрий Миколайович. Зусиллями сьогоднішнього колективу вдалося вдосконалити систему підготовки офіцерів запасу, яка відповідає сучасним вимогам побудови Збройних Сил України.
</p>
<p>Навчальний процес на кафедрі вирішує комплексне завдання: навчання, виховання і прищеплення практичних навиків студентам &ndash; майбутнім офіцерам запасу.
</p>
<table class="photo_2">
    <tbody>
        <tr>
            <td class="photo_2">
                <a title="Факультет військової підготовки НТУУ КПІ" href="/img/materials/48-3.jpg" rel="lightbox-group" class="lightbox-enabled"><img alt="Факультет військової підготовки НТУУ КПІ" src="http://fvp.kpi.ua/img/materials/48-3.jpg" class="scaled"></a>
            </td>
        </tr>
        <tr>
            <td class="photo_2">
                Заняття проводить викладач кафедри, підполковник запасу, Гаврилюк І.І
            </td>
        </tr>
    </tbody>
</table>
<p>На сьогоднішній день ккафедра тактики здійснює підготовку студентів вищих навчальних закладів за програмою офіцерів офіцерів запасу за двома напрямками:
</p>
<ul>
    <li>тактика військ ППО;</li>
    <li>загальна тактика.</li>
</ul>
<table class="photo">
    <tbody>
        <tr>
            <td class="photo">
                <a title="Факультет військової підготовки НТУУ КПІ" href="/img/materials/48-4.jpg" rel="lightbox-group" class="lightbox-enabled"><img alt="Факультет військової підготовки НТУУ КПІ" src="http://fvp.kpi.ua/img/materials/48-4.jpg" class="scaled"></a>
            </td>
        </tr>
        <tr>
            <td class="photo">
                Нанесення тактичної обстановки на робочу карту командира батареї
            </td>
        </tr>
    </tbody>
</table>
<br>
<p>При підготовці офіцерів запасу кафедра застосовує новітні технології, навчання в мультимедійному середовищі, застосування комп’ютерної технології. Це дозволяє майбутнім офіцерам грамотно та в короткі терміни приймати обґрунтовано рішення на бойове застосування підрозділу.
</p>
<p>Для успішного засвоєння теоретичного матеріалу по кожній спеціальності на кафедрі створені та обладнанні кабінети. Викладачі кафедри постійно беруть участь у тактичних навчаннях з бойовою стрільбою на державному полігоні. Існуюча навчально-матеріальна база, підготовка викладачів дозволяє проводити заняття на кісному методичному рівні.
</p>
<p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>