<div class="content-head">
  <h3>Кафедра засобів зв`язку</h3>
</div>
<div class="content-body">
    <!-- <table class="photo">
        <tbody>
            <tr>
                <td class="photo">
                    <a title="Факультет військової підготовки НТУУ КПІ" href="/img/materials/45-1.jpg" rel="lightbox-group" class="lightbox-enabled"><img alt="Факультет військової підготовки НТУУ КПІ" src="http://fvp.kpi.ua/img/materials/45-1.jpg" class="scaled"></a>
                </td>
            </tr>
            <tr>
                <td class="photo">
                    Навчальний склад кафедри
                </td>
            </tr>
        </tbody>
    </table> -->
    <p>В 1999 году кафедра сформувалась на основі ПМК кафедри №2, начальник кафедри полковник Радченко Юрій Михайлович.
    </p>
    <p>Днем заснування кафедри засобів зв’язку вважається 1 липня 1999 года. Основним завданням кафедри була підготовка офіцерів запасу для військ зв’язку, знаючих принципове рішення прийнятих на озброєння засобів зв’язку, вміючих експлуатувати базові зразки техніки зв’язку и АСУ.
    </p>
    <!-- <table class="photo_2">
        <tbody>
            <tr>
                <td class="photo_2">
                    <a title="Факультет військової підготовки НТУУ КПІ" href="/img/materials/45-2.jpg" rel="lightbox-group" class="lightbox-enabled"><img alt="Навчальний процес Факультет військової підготовки" src="http://fvp.kpi.ua/img/materials/45-2.jpg" class="scaled"></a>
                </td>
            </tr>
            <tr>
                <td class="photo_2"></td>
            </tr>
        </tbody>
    </table> -->
    <p> Кафедру засобів зв’язку очолив полковник Шнурко Сергій Олексійович. З ним і формувалась кафедра, виховувалось новое покоління офіцерів зв’язківців запасу.
    </p>
    <p>Кадровий склад кафедри за перші два роки її існування значно поповнився офіцерами-викладачами, які проходили службу на різних посадах в з’єднаннях та частинах зв’язку, вищіх навчальних закладах зв’язку.
    </p>
    <p>В їх складі викладачі, заслужені ветерани участники ВОВ полковники запасу Павлов Євген Андрійович, кандидат технічних наук доцент Чекменьов Віктор Миколайович, кандидат технічних наук, доцент Оксіюк Олександр Глібович офицери старші викладачі Казмерчук Микола Антонович, Малюк Михайло Олександрович, Глуховченко Генадій Костянтинович.
    </p>
    <p>За час існування кафедри на ній працювали слідуючі викладачі: Уреньов А.Ю., Агапов П.В., Григор’єв Ю.Т., Заболотний Л.Ф., Карпенко А.М., Лещенко О.Г.
    </p>
   <!--  <table class="photo">
        <tbody>
            <tr>
                <td class="photo">
                    <a title="Факультет військової підготовки НТУУ КПІ" href="/img/materials/45-3.jpg" rel="lightbox-group" class="lightbox-enabled"><img alt="Факультет військової підготовки НТУУ КПІ" src="http://fvp.kpi.ua/img/materials/45-3.jpg" class="scaled"></a>
                </td>
            </tr>
            <tr>
                <td class="photo">
                    Під час практичних занять.
                </td>
            </tr>
        </tbody>
    </table> -->
    <p>В теперішній час на кафедрі працюють: кандидат військових наук доцент старший викладач Старков Володимир Миколайович, викладачі Шишкунов Сергій Володимирович, Суднік Олександр Володимирович, Гордієнко Олександр Миколайович, Акімов Олег Вікторович, Жук Олександр Володимирович, кандидат військових наук доцент Руда Микола Михайлович, завідуючий лабораторії Приходько Павло Митрофанович, старший лаборант Здоровцева Ганна Володимирівна, лаборант Мінаєва Ніна Василівна.
    </p>
    <!-- <table class="photo_2">
        <tbody>
            <tr>
                <td class="photo_2">
                    <a title="Факультет військової підготовки НТУУ КПІ" href="/img/materials/45-4.jpg" rel="lightbox-group" class="lightbox-enabled"><img alt="Факультет військової підготовки НТУУ КПІ" src="http://fvp.kpi.ua/img/materials/45-4.jpg" class="scaled"></a>
                </td>
            </tr>
            <tr>
            </tr>
        </tbody>
    </table> -->
    <p>Окрім загальної підготовки з організації зв’язку велику увагу на кафедрі приділяється питанням вивчення та використання базових засобів радіозв’язку середньої потужності, малоканальних и багатоканальних радіорелейних засобів зв’язку, які знаходяться на озброєнні військ зв’язку в різних ланках управління.
    </p>
    <p>За роки існування кафедрою засобів зв’язку випущено 140 взводов, підготовлено майже 4590 офіцерів запасу для військ зв’язку.
    </p>
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>
    </div>
    <!-- <p class="design">Designed by Anastasiya Lisovska</p> -->