
<div class="content-head">
  <h3>Кафедра тактики</h3>
</div>
<div class="content-body">
<div class="full-photo-container ">
        <%= image_tag("21.jpg",  :alt => "Цуканов Олег Федорович ", class: "head-photo") %>
         <p class="full-photo-title-3">Цуканов Олег Федорович <br>
                                        Полковник запасу, завідувач кафедри,<br>
                                        кандидат технічних наук</p>
    </div>
<p class="after-full-photo">Після проведення організаційних заходів, у складі факультету військової підготовки, 1 вересня 1993 року була створена кафедра тактики.
</p>
<p>Основним завданням кафедри була і є підготовка офіцерів запасу з тактичної підготовки.
</p>
<p>Тактична підготовка є одним з основних предметів підготовки офіцерів запасу, яка готує їх до успішної організації і ведення бойових дій у сучасних воєнних конфліктах і допомагає формувати у студентів практичні навички в організації бойових дій та управління підрозділами у ході бою в складних умовах наземної та повітряної обстановки.
</p>
<div class="full-photo-container">
        <%= image_tag("24.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
    </div>
<p class="after-full-photo">Велику організаційну роботу щодо ставлення тактичної підготовки провів перший начальник кафедри полковник Андреєв Петро Іванович, який був призначений з посади начальника розвідки управління протиповітряної оборони Київського військового округу.
</p>
<p>В 1997-2004 роках кафедру очолював полковник Ткаченко Юрий Миколайович (призначений з посади начальника військ протиповітряної оборони дивізії). У цей час уточнювався зміст навчання, направлений на системний підхід до вивчення матеріалу тактичної підготовки, створення в ході проведення всіх занять проблемних ситуацій, що спонукають навчаємих до проявлення самостійності та активності в пошуках оптимальних рішень, проведена робота щодо розгортання та удосконалення навчально - матеріальної бази кафедри.
</p>
<p>Кафедру очолює полковник запасу - Ткаченко Юрий Миколайович. Зусиллями сьогоднішнього колективу вдалося вдосконалити систему підготовки офіцерів запасу, яка відповідає сучасним вимогам побудови Збройних Сил України.
</p>
<p>Навчальний процес на кафедрі вирішує комплексне завдання: навчання, виховання і прищеплення практичних навиків студентам &ndash; майбутнім офіцерам запасу.
</p>
<div class="full-photo-container">
        <%= image_tag("23.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
</div>

<p class="after-full-photo">На сьогоднішній день ккафедра тактики здійснює підготовку студентів вищих навчальних закладів за програмою офіцерів офіцерів запасу за двома напрямками:
</p>
<ul>
    <li>тактика військ ППО;</li>
    <li>загальна тактика.</li>
</ul>
<div class="full-photo-container">
        <%= image_tag("22.jpg",  :alt => "Навчальний процес", class: "full-photo") %>
         <p class="full-photo-title">Навчальний процес</p>
</div>
<p class="after-full-photo">При підготовці офіцерів запасу кафедра застосовує новітні технології, навчання в мультимедійному середовищі, застосування комп’ютерної технології. Це дозволяє майбутнім офіцерам грамотно та в короткі терміни приймати обґрунтовано рішення на бойове застосування підрозділу.
</p>
<p>Для успішного засвоєння теоретичного матеріалу по кожній спеціальності на кафедрі створені та обладнанні кабінети. Викладачі кафедри постійно беруть участь у тактичних навчаннях з бойовою стрільбою на державному полігоні. Існуюча навчально-матеріальна база, підготовка викладачів дозволяє проводити заняття на кісному методичному рівні.
</p>
<p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>
</div>
<!-- <p class="design">Designed by Anastasiya Lisovska</p> -->