<h2>Наші контакти</h2>
    <p><em>вул. Нижньоключова, 4</em></p>
    <p><em>Телефон: 406-85-88 (завідувач кафедри)</em></p>
    <!-- КАРТА  (начало) -->
    <style>
    .contacts-map {
        padding: 5px;
        margin: 5px;
    }
    </style>
    <div class="contacts-map">
        <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KLQOfpR6TYENZIFKXgOxNvjFdrWtA0Yl&width=576&height=500"></script>
    </div>
    <p><a href="#top" style="color: #fcffe8;">Вгору!</a></p>