.right {
    float: right;
}

.left {
    float: left;
}

body {
    color: #353535;
    background-color: rgba(199, 196, 162, 0.56);
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', 'Open Sans', sans-serif;
    .menu-bar {
        background-color: #efecca;
        margin: 0;
        box-shadow: 0 1px 3px 0 rgba(12, 12, 12, 0.2), 0 2px 3px 0 rgba(100, 100, 100, 0.2);
        // position: relative;
        z-index: 1;
        height: 90px;
        min-width: 980px;
        .menu-group {
            margin: 0;
            padding-left: 0;
            padding: 0;
            background-color: #efecca;
            @media (min-width: 1280px) {
                width: 1200px;
            }
            @media (max-width: 1024px) {
                width: 900px;
            }
            margin: 0 50px;
            #about-menu,
            #abiturient-menu,
            #contacts-menu,
            #faq {
                cursor: pointer;
                padding-left: 20px;
                padding-right: 20px;
                display: inline-block;
                a {
                    font-weight: 500;
                    font-size: 18px;
                    text-decoration: none;
                    text-decoration-color: #353535;
                    color: #353535;
                    // line-height: 90px;
                    vertical-align: top;
                }
            }
            #about-menu,
            #abiturient-menu,
            #contacts-menu,
            #faq {
                > a {
                    line-height: 90px;
                }
                // -webkit-transition: all .4s ease-in-out;
                // -moz-transition: all .4s ease-in-out;
                // transition: all .4s ease-in-out;
                a {
                    color: #353535;
                }
                &:hover,
                &:focus {
                    box-shadow: 0 1px 3px 0 rgba(12, 12, 12, 0.2);
                    background-color: #A7A37E;
                    a {
                        color: #fff;
                    }
                }
            }
            #contacts-menu {
                @media (min-width: 1280px) {
                    margin-right: 25px;
                }
                @media (max-width: 1024px) {
                    margin-right: 0;
                }
            }
        }
    }
}

nav {
    // position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    ul {
        list-style: none;
        li {
            float: left;
            &:hover {
                background: rgba(0, 0, 0, 0.15);
                > ul {
                    display: block;
                    padding: 0;
                }
            }
            .main_post {
                display: block;
                // letter-spacing: 0.3px;
                text-decoration: none;
            }
        }
        ul {
            max-width: 220px;
            background-color: #A7A37E;
            display: none;
            position: absolute;
            // z-index to overlay yandex.map
            z-index: 520;
            // top: 95%;
            // box-shadow: -3px 3px 10px -2px rgba(0, 0, 0, .1);
            border: 1px solid rgba(0, 0, 0, 0.1);
            margin-left: -20px;
            li {
                float: none;
                position: relative;
                .main_post {
                    font-size: 14px !important;
                    padding: 10px 20px 10px 20px;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
                }
            }
            ul {
                position: absolute; // for what??
                left: 100%;
                top: 0;
                margin-left: 0;
            }
        }
        #brand-li:hover {
            background-color: rgba(239, 236, 202, 0);
        }
    }
}

.brand {
    img {
        margin: 5px 15px 5px 0;
    }
}

#wrapper {
    #content {
        @media (min-width: 1280px) {
            width: 1100px;
        }
        @media (max-width: 1024px) {
            width: 900px;
        }
        margin: 0 auto;
        background-color: #fff;
        .content-head {
            // font-family: 'Open Sans Condensed', sans-serif;
            // font-family: 'Kelly Slab', cursive;
            font-family: 'Ubuntu', 'Open Sans', sans-serif;
            text-align: center;
            background-color: #353535;
            color: rgb(255, 255, 255);
            padding: 5px 10px 5px 10px;
            margin-top: 20px;
            h3 {
                font-weight: 400;
                font-size: 20px;
            }
        }
        // .content-head.main {
        //     background-color: rgba(199, 196, 162, 0.56);
        //     h3 {
        //         color: #353535;
        //     }
        // }
        .content-body {
            // @media (min-height: 1025px) {
            //     min-height: 1080px;
            // }
            // @media (min-height: 901px) and (max-height: 1024px) {
            //     min-height: 1024px;
            // }
            // @media (min-height: 801px) and (max-height: 900px) {
            //     min-height: 900px;
            // }
            // @media (min-height: 769px) and (max-height: 800px) {
            //     min-height: 800px;
            // }
            // @media (min-height: 700px) and (max-height: 768px) {
            //     min-height: 768px;
            // }
            min-height: 600px;
            margin: 60px 20px;
            padding-left: 60px;
            padding-right: 60px;
            .title-item {
                font-size: 18px;
                // padding-left: 30px;
                // padding-right: 30px;
            }
            .item-comment {
                font-family: 'Roboto Condensed', sans-serif;
                font-weight: 400;
                font-style: italic;
                color: #555555;
            }
            .important-part {
                color: rgb(221, 36, 33);
            }
            a {
                color: rgb(10, 10, 120);
                &:visited {
                    color: rgb(50, 2, 64);
                }
            }
        }
        .q1 {
            background-image: asset-data-url("bg2.png");
            .q11 {
                background-color: rgba(255, 255, 255, 1);
                padding: 40px 100px;
            }
            color: #353535;
            font-size: 20px;
        }
    }
}

.item {
    padding-left: 40px;
    padding-right: 40px;
}

footer {
    background-color: rgba(51, 51, 51, 0.75);
    padding: 8px;
    position: relative;
    p {
        text-align: center;
        font-size: 12px;
        color: rgb(230, 230, 230);
    }
    .design {
        font-family: 'Kelly Slab', cursive;
        color: #353535;
        text-align: right;
        font-size: 11px;
        margin: -16px 15px 5px 0;
    }
}
